:root {
  /* Colors */
  --color-ui-default: #EEEEEE;
  --color-ui-dark: #212121;
  --color-ui-bright: #ffffff;
  --color-ui-danger: #f44336;

  /* Fencing */
  --fencing-verticle: 2rem;
  --fencing-horizontal: 2rem;
  --fencing-desktop-verticle: 2rem;
  --fencing-desktop-horizontal: 2rem;

  /* Border Radius */
  --round-desktop-card: 4px;
  --round-card: 0;

  /* Color Picker */
  --color-picker-width: 256px;

  /* Slick Colorpicker */
  --slick-colorpicker-fencing-verticle: 0.8rem;
  --slick-colorpicker-fencing-horizontal: 0.5rem;
  --slick-colorpicker-width: 256px;
  --slick-colorpicker-height: 254px;

  /* Dark Theme */
  --dark-bg-color: #464646;
  --dark-bg-hover-color: #3e3d3d;
  --dark-color: #c8d6b7;
}